*{
    margin: 0%;
    padding: 0%;
}
header, nav, section, aside, footer{
    text-align: center;
    font-size: 40px;
    border: solid 10px black;
}
section>article{
    border: solid 5px rgb(240, 91, 240);
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}

header{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 120px;
}
nav{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

section{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

aside{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

footer{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}