*{
    margin: 0%;
    padding: 0%;
}

header>h1{
    color: rgb(255, 119, 0);
    text-align: center;
    font-size: 350%;
}


/*############### Modifico el Índice ##############*/
nav>fieldset{
    width: 200px;
    height: 130px;
    border-radius:0px 20px 20px 20px;
}

nav>fieldset>h2{
    font-size: 150%;
    color: rgb(255, 149, 56);
}

ul{
    list-style-position: inside;
}

nav>fieldset>ul{
    margin-left: 5%;
    padding-left: 5%;
    border-radius:10px 10px 10px 10px;
    background:#353535;
    color: rgb(147, 69, 0);
}
nav>fieldset>ul>li>a{
    color: rgb(255, 229, 127);
    text-decoration: none;
}


/*#################################################*/


/*############## Modifico las Imágenes ############*/
.ImagenCentrada{
    text-align: center;
}

.Tamañoimagen200{
    height: 200px;
}

.Tamañoimagen250{
    height: 250px;
}

.Tamañoimagen300{
    height: 300px;
}

.Tamañoimagenfinal{
    width: 100%;
}
/*#################################################*/


/*############### Modifico el Texto ###############*/
.TextoCentrado{
    text-align: center;
}

.TextoJustificado{
    text-align: justify;
}

.LinksDeRedes{
    color:#86542a;
}

#Redes{
    color: rgb(255, 123, 0);
    font-weight: bold; /*con este comando coloco "Negrita" en el texto*/
}

.Títulos{
    color: rgb(255, 160, 77);
    font-size: 200%;
    text-decoration: underline;
}

.Sub-Títulos{
    font-size: 125%;
    color: rgb(249, 161, 93);
}
/*#################################################*/


/*################## Footer ###################*/
footer{
    background-image: url(https://cdn.eventfinda.co.nz/uploads/content/transformed/1014776-4561-34.jpg);
    background-size: auto; /*con este comando le doy tamaño al fondo*/
    height: 336px;
}

footer>fieldset{
    background-color: #eac9ad;
    width: 200px;
    height: 130px;
    border-radius:20px 20px 20px 20px;
    text-align: center;
}