header{
    text-align: end;
}
header>a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/*############  Modifico el carousel  ##################*/
#carouselExampleAutoplaying{
    width: 1000px;
    height: 600px;
}

.tamaño-imagen{
    width: 500px;
    border-radius: 10%;
}
/*#######################################################*/