*{
    padding: 0%;
    margin: 0%;
}

header{
    border: 10px dotted rgb(255, 149, 0);
    text-align: center;
}

#titulo{
    text-decoration: underline;
    color: rgb(243, 27, 27);
    font-size: 60px;
}

fieldset{
    border: 5px solid rgb(8, 238, 50);
    width: 90%;
}

fieldset>section>article>img{
    width: 360px;
}

nav{
    background-color: rgb(255, 200, 0);
    text-align: right;
    color: blueviolet;
}

legend{
    font-size: large;
}

fieldset>section>article>a:hover{
    color: chartreuse;
    background: black;
    font-size: x-large;
}
/*#################### Clases ##################*/
.linkslindos{
    color: rgb(255, 0, 0);
    text-decoration: none;
    text-align: center;
}

.textocentrado{
    text-align: center;
}

.textorojo{
    color: tomato;
}

.tamañoimagenes{
    height: 200px;
}