*{
    padding: 0%;
    margin: 0%;
}

header{
    border: 10px dotted rgb(255, 149, 0);
    text-align: center;
    top: 0;
    background-color: white;
    background-clip: padding-box; /*comando para que el fondo abarque solo hasta el límite con el borde*/
    border-radius: 50px;
    position: sticky; /*comando para que el elemento se desplaze cuando scrolleamos en la pagina (requiere de un "top: 0 ")*/
}

#titulo{
    text-decoration: underline;
    color: rgb(243, 27, 27);
    font-size: 60px;
}

nav{
    background-color: rgb(255, 200, 0);
    text-align: right;
    color: blueviolet;
}

/*#################### Secciones dentro del Fieldset ##################*/
fieldset{
    border: 5px solid rgb(8, 238, 50);
    width: 90%;
}

fieldset>section>article>img{
    width: 360px;
}

legend{
    font-size: large;
}

fieldset>section>article>a:hover{
    color: chartreuse;
    background: black;
    font-size: x-large;
}
/*#####################################################################*/


/*##################### Menú ###################*/
#Menu{
    border: 5px solid rgb(16, 118, 14);
    width: 15%;
}

#Menu:hover{
    font-size: xx-large;
    width: 30%;
}

#Menu>h1{
    text-decoration: underline dotted;
}

aside>fieldset>ul{
    margin-left: 6%;
}

aside>fieldset>ul>li{
    margin-left: 9%;
}
/*################################################*/


/*#################### Clases ##################*/
.linkslindos{
    color: rgb(255, 0, 0);
    text-decoration: none;
    text-align: center;
}

.textocentrado{
    text-align: center;
}

.textorojo{
    color: tomato;
}

.tamañoimagenes{
    height: 200px;
}
/*##############################################*/


/*#################### Clases ##################*/
footer{
    border: 5px solid red;
}
/*##############################################*/